@media only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		
		table, thead, tbody, th, td, tr {
			display: block;
			border:0;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

	    tr{
	      /*margin: 0 0 1rem 0;*/
	      margin:0;
	    }
      
	    tr:nth-child(odd) {
	      background: transparent;
	    }
    
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			/*padding-left: 50%;*/
		}

		td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
		.text-left{
			text-align: center;
		}
		.padding-left{
			padding-right: 10px;
		}
		/*.tabela-2 td:nth-of-type(1):before { content: "Nome"; font-weight: bold; text-align: right;}
		.tabela-2 td:nth-of-type(2):before { content: "Saldo Crédito"; font-weight: bold; text-align: right;}
		.tabela-2 td:nth-of-type(3):before { content: "Saldo Almoço"; font-weight: bold; text-align: right;}
		.tabela-2 td:nth-of-type(4):before { content: "Limite de Crédito Diário"; font-weight: bold; text-align: right;}*/
		.tabela-2 td:nth-of-type(5):before,
		.tabela-2 td:nth-child(5){ display:none; /*content: "Ações"; font-weight: bold; text-align: right;*/}
		.single td:before{
			display: none;
		}
		.row-20 strong{
			display: block;
			font-size:1rem;
			text-align: left;
			margin-bottom: 2px;
		}
		/*.single td{
			display: block;
			width: 100%;
			text-align: center;
		}*/
		.single {
 			 display: block;
		}
		.row-60, .row-50, .row-35, .row-5{
			display: block;
			width: 100%;
		}
		.row-50 .drop-select{
			margin-bottom: 10px;
		}
		.row-60{
			margin:0;
			padding:0;
		}
		.row-60 select,
		.row-60 .input-text{
			width: 100%;
		}
		.row-35 .valores{
			width: 100%;
			display: block;
		}
		.row-35 .valores .label input{
			width: 100%;
			display: block;
		}
		.row-35 .label,
		.row-5 .label{
			width: 100%;
		}
		.drop-menu-60, .drop-select{
			width: 100%;
			display: block;
		}
		.row-5 .label .btn-add{
			width: 100%;
		}
		.row-5 .label .btn-add span{
			display: inline-block;
		}
		.row-20{
			width: 100%;
			display: block;
			margin: 0;
		}
		.margin-left {
 			margin-left: 0px !important;
		}
		.margin-left input{
			width: 100%;
		}

		.tabela-cesta, thead, tbody, th, td, tr {
			display: block;
			border:0;
		}
		.tabela-cesta thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

	    .tabela-cesta tr{
	      margin: 0 0 1rem 0;
	    }
      
	    .tabela-cesta tr:nth-child(odd) {
	      background: transparent;
	    }
    
		.tabela-cesta td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}
		.tabela-cesta tr td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
		.tabela-3 tr td:nth-of-type(1):before { display: none;}
		.tabela-2 tr td:nth-of-type(3):before { content: "Valor"; font-weight: bold; text-align: right;}
		.tabela-2 tr td:nth-of-type(4):before { content: "Saldo Final"; font-weight: bold; text-align: right;}
		/*.tabela-cesta tr td:nth-of-type(1):before { content: "Nome"; font-weight: bold; text-align: right;}
		.tabela-cesta tr td:nth-of-type(2):before { content: "Saldo Crédito"; font-weight: bold; text-align: right;}
		.tabela-cesta tr td:nth-of-type(3):before { content: "Saldo Almoço"; font-weight: bold; text-align: right;}
		.tabela-cesta tr td:nth-of-type(4):before { content: "Limite de Crédito Diário"; font-weight: bold; text-align: right;}
		.tabela-cesta tr td:nth-of-type(5):before { content: "Ações"; font-weight: bold; text-align: right;}*/
	}